<script type="text/javascript" src="//cdn.jsdelivr.net/discord-widget/1.0/discord-widget.min.js"></script>
<script type="text/javascript">
    discordWidget.init({
        serverId: '976127414549770320',
        title: 'Fishtown Pickleball Club',
        join: true,
        theme: 'dark',
        alphabetical: false,
        hideChannels: ['Lounge', 'Meeting Room'],
        showAllUsers: true,
        allUsersDefaultState: false,
        showNick: true
    });
    discordWidget.render();
</script>

<div class="discord-widget"></div>
