// Buttons styles.
.button {
  padding: 0.5em;
}

.button--primary {
  background-color: var(--color-green-pickle);
  border: 1px solid var(--color-black);
  color:  var(--color-black);

  &:hover {
    background-color: var(--color-green-lime);
  }
}
