// Footer styles
footer * {
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}
.footer-col-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  float: none;
}
.footer-col-3 {
  text-align: right;
}

@media screen and (max-width: 600px) {
  .footer-col {
    width: 100%;
    text-align: center;
    padding: 0.5em 0 !important;
  }

  .footer-col-3 {
    text-align: center;
  }
}
