// Header styles.
.site-header {

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .site-logo {
    height: 4em;
    margin: 1em 1em 1em 0;
  }

  h1 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .site-header {
    .site-logo {
      height: 3em;
    }

    h1 {
      font-size: 1.2em;
    }
  }
}
