---
---
@import "minima";

.embed {
  display: flex;
  justify-content: center;
}
.embed .discord-widget {
  min-width: 40vw;
}

footer * {
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}
.footer-col-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  float: none;
}
.footer-col-3 {
  text-align: right;
}

.cta--signup {
  text-align: center;
}
