---
---
@import "minima";

// Header styles.
.site-header {

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .site-logo {
    height: 4em;
    margin: 1em 1em 1em 0;
  }

  h1 {
    margin-bottom: 0;
  }
}

.main .section {
  margin-bottom: 2em;
}

.embed {
  display: flex;
  justify-content: center;
}

// CTAs
.cta--signup {
  text-align: center;
}
.cta--signup a {
  font-weight: bold;
}

// Footer styles
footer * {
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}
.footer-col-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  float: none;
}
.footer-col-3 {
  text-align: right;
}

// Rating styles.
@media only screen and (min-width:768px) {
  .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .rating--results {
    margin-top: -2em;
  }
}
.rating--results {
  line-height: 1.5em;
  font-size: 1.25em;
  text-align: center;
}
.rating--result {
  display: block;
  font-size: 1.5em;
}

.questions {
  display: none;
  margin-bottom: 2em;
}
.description {
  margin-bottom: 1em;
}
